---
layout: base
---

<div class="layout h-resume" role="document">
    <header>
        {% include "../partials/vcard.njk" %}
    </header>

    {% include "../partials/main.njk" %}

    <footer class="utl-space-between">
        <p>{{ strings.labels.lastUpdated }}: {{ build.timestamp | dateToFormat('dd.MM.yyyy') }}</p>
        <button class="actions__btn js-print utl-screen-only has-tooltip" aria-label="{{ strings.labels.print }}">
            {% icon "print" %}
        </button>
    </footer>
</div>