---
layout: base
---

{# SET CV DATA #}
{% set selector = { nl: cv_nl, en: cv_en } %}
{% set cv = selector[lang] %}

{# HTML #}
<div class="lang-switcher utl-screen-only">
    <div class="container utl-justify-center">
        <a href="/en/">EN</a><span class="divider">|</span><a href="/nl/">NL</a>
    </div>
</div>

<div class="layout h-resume" role="document">
    <header>
        <div class="container">
            {% include "../partials/vcard.njk" %}
        </div>
    </header>

    <main>
        <div class="container">
            {% include "../partials/sections.njk" %}
        </div>
    </main>

    <footer>
        <div class="container utl-space-between">
            <div id="footer-meta" class="utl-align-center">
                <span>
                    <span>{{- strings[lang].lastUpdated }}: </span>
                    <span class="dt-updated">{{- build.timestamp | dateToFormat('dd.MM.yyyy') }}</span>
                </span>
                <a href="{{ site.cv.repo }}" class="repo utl-screen-only" target="_blank" rel="noreferer noopener">(view source)</a>
            </div>
            <button class="actions__btn js-print utl-screen-only has-tooltip" aria-label="{{ site[lang].print }}">
                {% icon "print" %}
            </button>
        </div>
    </footer>
</div>