// Main Site Layout
body {
    display: flex;
    justify-content: left;
    min-height: 100vh;
    overflow-x: hidden;     /* to make the browser wide footer work */
    padding: 3% 5% 0 5%;
}

.layout {
    max-width: $layout-max-width;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

header {
    padding-bottom: 1.5em;
}

main {
    padding: 1em 0;
}

footer {
    background-color: $gray-light;
    padding: 0.8em 9999rem 1.2em 9999rem;
    margin: auto -9999rem 0 -9999rem;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;

    p { 
        height: fit-content;
    }
}

.grid {
    display: grid;
    page-break-inside: avoid;

    &--2col {
        grid-template-columns: 1fr 1fr;
        column-gap: 5em;
    }
}
