// Main Site Layout

body {
    overflow-x: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    @media screen {
        padding-top: 5vh;
    }
    display: flex;
}

main {
    padding-top: $spacing-y*2.5;
    @media screen {
        padding-bottom: $spacing-y*2.5;
    }
    @include mq-down(md)  {
        padding: 2.5vh 0;
    }
    flex-grow: 1;
}

footer {
    @media screen {
        padding-top: 1.2vh;
        padding-bottom: 1.35vh;
    }
    background-color: $gray-light;

    a {
        padding: 0 0.5em;
    }
}

.container {
    margin: 0 5vw;      /* with padding content shrinks because of max container width */
    max-width: $container-max-width;
    flex-grow: 1;

    @include mq(lg) {
        margin: 0 8vw;
    }
}

.grid {
    display: grid;
    column-gap: $spacing-x * 2;
    page-break-inside: avoid;

    &--2col {
        grid-template-columns: 1fr 1fr;
    }
}

.lang-switcher {


    span {
        padding: 0 0.2em;
    }
}