// Main Site Layout

body {
    overflow-x: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    @media screen {
        padding-top: 4vh;
    }
    padding-bottom: $spacing-y;
    display: flex;
}

main {
    padding: $spacing-y 0;
    flex-grow: 1;
}

footer {
    padding-top: $spacing-y/2;
    @media screen {
        padding-bottom: 1.3vh;
    }
    background-color: $gray-light;

    #footer-meta p {
        margin-right: 0.5em;
    }
}

.container {
    margin: 0 5vw;      /* with padding content shrinks because of max container width */
    max-width: $container-max-width;
    flex-grow: 1;

    @include mq(lg) {
        margin: 0 8vw;
    }
}

.grid {
    display: grid;
    column-gap: $spacing-x * 2;
    page-break-inside: avoid;

    &--2col {
        grid-template-columns: 1fr 1fr;
    }
}