.entry {
    &__header {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }

    &__time {
        color: $gray;
        font-size: 0.875em;
        letter-spacing: 0.125em;
        text-transform: uppercase;
        order: -1;
        margin-bottom: 0.25em;
    }

    &__organization {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        span.middot {
            padding: 0 0.4em;
        }
    }
}
