.section {
    padding-top: $spacing-y;
    padding-bottom: $spacing-y;
    page-break-inside: avoid;

    &__title {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        padding-bottom: 0.8em;

        &::after{
            content: '';
            border-top: 1px solid;   // 1px is the smallest unit it can be set too, if set smaller it won't print properly
            flex-grow: 1;
            margin-left: 0.5em;
        }
    }
}

.grid .section {
    grid-column: span 2;

    @include mq(md, true) {
        &--half {
            grid-column: span 1;
        }
    }
}