.vcard {

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 0.4em;
    }
    &__subtitle {
        margin-bottom: 0.8rem;
        display: flex;
        align-items: center;
    }
    &__avatar {
        width: 11rem;
        height: 11rem;
        flex: 0 0 11rem;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: $box-shadow-elevated;
        margin-right: 2em;
    }
    &__pronouns {
        font-size: 1.125rem;
        font-family: $font-family-sans-serif;
        color: $gray;
    }
    &__contact {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.6em;
        margin-top: 0.3em;
    }
    &__link, 
    &__social {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;

        @include hover-focus {
            text-decoration: none;
            
            .vcard__link-text {
                text-decoration: underline;
            }
        }

        .icon {
            margin-right: 0.35em;
        }
    }

    @include mq(lg) {

        @supports (display: grid) {
            &__avatar {
                position: fixed;
                top: calc(#{$spacing-y} + 1rem);
                right: 75%;
                transform: translateX(25%);
                transition: transform 0.2s ease;
                margin: 0;

                .js-scrolled & {
                    transform: translateX(25%) scale(0.75);
                }
            }
        }
    }
}
