{% macro h2(sectionTitle) %}
<h2 class="section__title">{{ sectionTitle }}</h2>
{% endmacro %}

{% macro list(collectionName, lang=false) %}
<ul class="bulletlist">
    {% for item in collectionName.data.list %}
        <li class="p-skill">{% if lang %}{{ item.name }} ({{ item.level }}){% else %}{{ item }}{% endif %}</li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro section(identifier, half=false) %}
<section class="section{% if half %} section--half{% endif %}" id="section-{{ identifier }}">
{% endmacro %}