<footer class="utl-space-between">
        <p>{{ strings.labels.lastUpdated }}: {{ build.timestamp | dateToFormat('dd.MM.yyyy') }}</p>
        <button class="actions__btn js-print utl-screen-only has-tooltip" aria-label="{{ strings.labels.print }}">
                {% icon "print" %}
            </button>
        {% if build.demo %}
            <a href="https://github.com/maxboeck/resume" class="repo-link utl-screen-only">
                <span>{% icon "github" %} view source</span>
            </a>
        {% endif%}
</footer>