{% import '../macros.njk' as macros %}

{# set variables for different languages #}
{% set intro = collections["intro_"+ lang]|first %}
{% set experience = collections["experience_" + lang] %}
{% set education = collections["education_" + lang] %}
{% set skills = collections["skills_" + lang]|first %}
{% set languages = collections["languages_" + lang]|first %}

{# html #}
<main>

    {% if intro.data.title %}
        {{ macros.section('introduction') }}
            {{ macros.h2(intro.data.title) }}
            <div class="lead p-summary">
                {{ intro.templateContent | safe }}
            </div>
        </section>
    {% endif %}

    {{ macros.section('experience') }}
        {{ macros.h2(strings.titles.experience) }}
        {% set microformat = 'p-experience' %}
        {% set entries = experience %}
        {% include "cv/partials/entrylist.njk" %}
    </section>

    {{ macros.section('education') }}
        {{ macros.h2(strings.titles.education) }}
        {% set microformat = 'p-education' %}
        {% set entries = education %}
        {% include "cv/partials/entrylist.njk" %}
    </section>

    <div class="grid grid--2col">
        {% if skills %}
            {{ macros.section('skills', half=true) }}
                {{ macros.h2(skills.data.title) }}
                {{ macros.list(skills) }}
            </section>
        {% endif %}

        {% if languages %}
            {{ macros.section(languages, half=true) }}
                {{ macros.h2(languages.data.title) }}
                {{ macros.list(languages, lang=true) }}
            </section>
        {% endif %}
    </div>

</main>