{%- set absolutePageUrl -%}{{ site.baseUrl }}{{ page.url | url }}{%- endset -%}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>

{# General #}
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ absolutePageUrl }}">

{# Open Graph #}
<meta property="og:site_name" content="{{ title }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ strings[lang].locale }}">
<meta name="twitter:card" content="summary">
{%- if cv.basics.image  -%}
    <meta property="og:image" content="{{ cv.basics.image | url }}">
{%- endif -%}

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
{% if site.cv.colors.secondary %}
    <link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | url }}" color="{{ site.cv.colors.secondary }}">
    <meta name="theme-color" content="{{ site.cv.colors.secondary }}">
{% endif %}

{# JSON LD #}
<script type="application/ld+json">
    {
        "name":"{{ cv.basics.name }}",
        "description":"{{ data.description }}",
        "resume": {
            "@type":"Person",
            "name":"{{ cv.basics.name }}"
        },
        "@type":"WebSite",
        "url":"{{ absolutePageUrl }}",
        "image":"{{ cv.basics.image }}",
        "headline":"{{ cv.basics.name }}",
        "sameAs":[
            {%- for profile in cv.profiles -%}
                "{{ profile.url }}"{%- if not loop.last -%},{%- endif -%}
            {%- endfor -%}
        ],
        "@context":"http://schema.org"
    }
</script>