{%- set absolutePageUrl -%}{{ page.url | url }}{%- endset -%}
{%- set pageTitle -%}CV {{ author.name }}{% if author.occupation %} - {{ author.occupation }}{% endif %}{%- endset -%}
{%- set pageDescription -%}Online resume of {{ author.name }}{%- endset -%}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ pageTitle }}</title>

{# General #}
<meta name="description" content="{{ pageDescription }}">
<link rel="canonical" href="{{ absolutePageUrl }}">

{# Open Graph #}
<meta property="og:site_name" content="{{ pageTitle }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:description" content="{{ pageDescription }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ cv[lang].locale }}">
<meta name="twitter:card" content="summary">
{%- if cv.avatar -%}
    {%- set avatarUrl -%}/assets/images/{{ cv.avatar }}{% endset %}
    <meta property="og:image" content="{{ avatarUrl | url }}">
{%- endif -%}

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
{% if cv.colors.secondary %}
    <link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | url }}" color="{{ cv.colors.secondary }}">
    <meta name="theme-color" content="{{ cv.colors.secondary }}">
{% endif %}

{# JSON LD #}
<script type="application/ld+json">
    {
        "name":"{{ cv.name }}",
        "description":"Online resume of {{ cv.name }}",
        "cv": {
            "@type":"Person",
            "name":"{{ cv.name }}"
        },
        "@type":"WebSite",
        "url":"{{ meta.baseUrl }}/{{ lang }}/",
        "image":"{{ meta.baseUrl }}/assets/images/{{ cv.avatar }}",
        "headline":"{{ cv.name }}",
        "sameAs":[
            {%- for social in cv.social -%}
                "{{ social.url }}"{%- if not loop.last -%},{%- endif -%}
            {%- endfor -%}
        ],
        "@context":"http://schema.org"
    }
</script>