{# SET VARIABLES #}
{% set data = { nl: cv_nl, en: cv_en } %}

{# MACROS #}
{% macro section(id, h2, 2col=false) %}
    <section class="section{{ ' section--half' if 2col }}" id="section-{{ id }}">
        <h2 class="section__title">{{ h2 }}</h2>
        {{ caller() | safe }}
    </section>
{% endmacro %}

{% macro createEntry(entry, entryTitle, orgName, microformat) %}
    {% include "cv/partials/entry.njk" %}
{% endmacro %}

{# HTML #}
{# introduction #}
{% set intro = data[lang].basics.summary %}
{% if intro %}
    {% call section(id='introduction', h2=strings.titles.intro) %}
        <div class="lead p-summary">
            {{- intro | escape | nl2br -}}
        </div>
    {% endcall %}
{% endif %}

{# experience #}
{% call section(id='experience', h2=strings.titles.experience) %}
    <ol class="entrylist" reversed>
        {% for entry in data[lang].work | sort(reverse=true, caseSens=false, 'startDate') %}
            {{ createEntry(entry, entryTitle=entry.position, orgName=entry.name, microformat='p-experience') }}
        {% endfor %}
    </ol>
{%- endcall %}

{# education #}
{% set education = data[lang].education %}
{% call section(id='education', h2=strings.titles.education) %}
    <ol class="entrylist" reversed>
        {% for entry in data[lang].education | sort(reverse=true, caseSens=false, 'startDate') %}
            {{ createEntry(entry, entryTitle=entry.studyType + ': ' + entry.area, orgName=entry.institution, microformat='p-education') }}
        {% endfor %}
    </ol>
{%- endcall %}

<div class="grid grid--2col">
    {# skills #}
    {% set skills = data[lang].skills %}
    {% if skills %}
        {% call section(id='skills', h2=strings.titles.skills, 2col=true) %}
            <ul class="bulletlist">
                {% for skill in skills %}
                    <li>
                        <span>{{- skill.name + ' (' + skill.level | lower + '): ' -}}</span>
                        {% for keyword in skill.keywords %}
                            <span>
                                <span class="p-skill">{{ keyword | lower }}</span>
                                {{- ', ' if not loop.last -}}
                            </span>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {%- endcall %}
    {% endif %}

    {# languages #}
    {% set languages = data[lang].languages %}
    {% if languages %}
        {% call section(id='languages', h2=strings.titles.languages, 2col=true) %}
            <ul class="bulletlist">
                {% for lang in languages %}
                    <li class="p-skill">
                        {{- lang.language + ' (' + lang.fluency | lower +')' -}}
                    </li>
                {% endfor %}
            </ul>
        {%- endcall %}
    {% endif %}
</div>