<div class="vcard h-card">
    {% if cv.avatar %}
        {%- set avatarUrl -%}/assets/images/{{ cv.avatar }}{% endset %}
        <img class="vcard__avatar u-photo" src="{{ avatarUrl | base64file }}" width="200" height="200" alt="{{ cv.name }}" />
    {% endif %}

    <div class="vcard__content">

        <div class="vcard__heading">
            <div class="vcard__title">
                <h1 class="p-name">{{ cv.name }}</h1>
                {% if cv.pronouns %}
                    <em class="vcard__pronouns p-gender-identity">({{ cv.pronouns }})</em>
                {% endif %}
            </div>

            <p class="vcard__subtitle lead">
                {% if cv.occupation %}
                    <span class="p-occupation">{{ cv.occupation }}</span>
                    <span aria-hidden="true">&middot;</span>
                {% endif %}

                {% if cv[ lang ].location %}
                    {% icon "location" %}
                    <span class="p-locality">{{ cv[ lang ].location }}</span>
                {% endif %}
            </p> 
        </div>

        <div class="vcard__contact p-contact">
             <a class="vcard__link p-tel" aria-label="Telephone" href="tel:{{ cv.telephone | stripSpaces }}">
                {% icon "telephone" %}
                <span class="vcard__link-text">{{ cv.telephone }}</span>
            </a>
            
            {% if cv.email %}
                <a class="vcard__link u-email" aria-label="Email" href="mailto:{{ cv.email | obfuscate | safe }}">
                    {% icon "email" %}
                    <span class="vcard__link-text">{{ cv.email | obfuscate | safe }}</span>
                </a>
            {% endif %}

            {% if cv.website %}
                <a class="vcard__link u-url" aria-label="Website" href="{{ cv.website }}">
                    {% icon "laptop" %}
                    <span class="vcard__link-text">{{ cv.website | stripProtocol }}</span>
                </a>
            {% endif %}

            {% if cv.social %}
                <div class="vcard__social">
                    {% for social in cv.social %}
                        <a class="vcard__link" href="{{ social.url }}" aria-label="{{ social.name }}" rel="me">
                            {%- set isSocialIcon = true -%}
                            {%- icon social.name, isSocialIcon -%}
                            <span class="vcard__link-text p-nickname">{{- social.user -}}</span>
                            <span class="sr-only">on {{ social.name }}</a>
                        </a>
                    {% endfor %}
                </div>
            {% endif %} 
        </div>
    </div>
</div>